package dashboard

import "github.com/nlgtEA/go-account/view/layout"
import "github.com/nlgtEA/go-account/db/database"


type DashboardProps struct {
    UserEmail string
    Assets    []database.Asset
}

templ Show(props DashboardProps){
    @layout.Base(layout.BaseData{Name: "Dashboard"}){
        <h1>
          Hello, {props.UserEmail}
        </h1>
        <p class="bg-red-50">
            Dashboard ne hhihihihi
            {props.Assets[0].Name}
        </p>
    }
}
