package dashboard

import "github.com/nlgtEA/go-account/view/layout"


templ Show(){
    @layout.Base(layout.BaseData{Name: "Dashboard"}){
        <p class="bg-red-50">
            Dashboard ne hhihihihi
        </p>
    }
}
