package layout

templ Base() {
  <html>
    <head>
      <link rel="stylesheet" href="/public/style.css" />
    </head>
    <body>
        Body from base
        { children... }
    </body>
  </html>
}
